*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    font-size: 62px;
    line-height: 60px;
    font-weight: bold;
}

h2 {
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
    margin: 0;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.text-gradient {
    background: linear-gradient(104.74deg, #1D65FF 0%, #A200FF 98.96%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
    display: inline-block;
    font-weight: 700;
}
